@import "./layout";
@import "./navbar";
@import "./splitView";

* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}